<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/next.css">
        <link rel="stylesheet" href="/static/css/auto-complete.css">
        <script src="/static/js/next.js"></script>
        <script src="/static/js/action-panel.js"></script>
        <script src="/static/js/data.js"></script>
        <script src="/static/js/shell.js"></script>
        <script src="/static/js/auto-complete.js"></script>

       
        
    </head>
    <body>
            <form onsubmit="return false;" class="pure-form" style="border-top: 1px solid #eee;border-bottom:1px solid #eee;background:#fafafa;margin:30px 0;padding:20px 10px;text-align:center">
                    <input id="searchBox" autofocus type="text" name="searchBox" placeholder="Search functions or variables ..." style="width:100%;max-width:600px;outline:0">
                </form>
    </body>
</html>